<div class="w-100 z-1 relative">
    <div class="">
        <picture class="">
            <source type="image/jpeg" srcset="../../../assets/img/man-with-puppy.jpeg" sizes="100vw">
            <img sizes="100vw" srcset="../../../assets/img/man-with-puppy.jpeg"
                src="../../../assets/img/man-with-puppy.jpeg" height="576px" alt="Find a puppy sitter near you"
                style="object-fit:cover;object-position:center" class="puppy-sitter-image">
        </picture>
        <div class="absolute top-0 bottom-0 w-100">
            <div class="absolute w-100 C2ECmm-iKaCkhdTcEMEAa _2vhrx5NvdG6it8Sav07jsC"></div>
            <div class="_1ov4CPClA075hQusJEQQKL">
                <div
                    class="white pv3 relative z-1 m_dn flex flex-column items-start justify-center C2ECmm-iKaCkhdTcEMEAa">
                    <h1 class="_2INzsKazlBi3MJm_ZwDMhG mb3">Find a puppy sitter near you</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="m_absolute left0 w-100 pf-form-block">
        <div class="_1ov4CPClA075hQusJEQQKL">
            <div class="m_pb4 m_ph4 m_mw7 bg-white pt3">
                <div class="mb3 dn m_flex items-start justify-between">
                    <h2 class="_2INzsKazlBi3MJm_ZwDMhG pr3">Find a puppy sitter near you</h2>
                </div>
                <p class="_2dXladWy3z9cVjUMFQArns mb3">Give us a few details and we’ll match you with the right pro.</p>
                <div class="_3i0NntZz8uuTeLJ9IvmlbG">
                    <div>
                        <form id="uniqueId2">
                            <div class="_1L9gSCFBnVQiUpUVPC2UCV _21MPq1_0Bu23Hhzrq0AL61">
                                <div class="_3EQVYZEGFYwLR7atQ5KrzZ">
                                    <div class="_1yaxSWtFDSX1vS7b7bJmrr NrRKjEalmmLvKeP6ENJvP" style="color:inherit">
                                        <svg height="28" width="28" fill="currentColor" viewBox="0 0 28 28"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M5 11.25c0 5.244 7.389 12.813 8.231 13.825L14 26l.77-.925C15.612 24.063 23 16.512 23 11.25 23 5.988 19.909 2 14 2c-5.908 0-9 4.006-9 9.25zm2 0C7 7.758 9.191 4 14 4c4.81 0 7 3.758 7 7.25 0 3.217-4.51 8.46-7 11.598-2.489-3.137-7-8.224-7-11.598zM14 7c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4zm0 6c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2z">
                                            </path>
                                        </svg>
                                        <div class="b _3UhxaQzw6bWQP38Htu8huO">Zip code</div>
                                    </div>
                                </div><input type="number"
                                    class="_3T3zk9iidc_Bl9GU9gnC90 _3V6ZeuCYoAR8dxjrc_0NwJ _90w5Fy_E_AAX_eKs4CG0_"
                                    placeholder="Zip code" name="zip_code" value="64093" inputmode="numeric"
                                    pattern="[0-9]*" maxlength="5" autocomplete="postal-code" [(ngModel)]="zipCode">
                                <div
                                    class="_34YJq64lVzS5cBz4SSIaZo _2IKGMYFvf9bcgJZJbwuVZI _2Gtsk49rfnsUJZKTqXXThy _8_sGSYaH8gGco3dYVSLxs">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="_3i0NntZz8uuTeLJ9IvmlbG _1i3Gx3mWCbQC0M-X_lJ2yv b">
                    <div data-test="important-filter" class="relative s_static">
                        <div>
                            <div class="_3K8DxN_JbWl393mteY2klV _2DUNzImYeSyBhBKe1PtbrC">
                                <select class="_3FdbokazFWj1RwROvdtQku _2iWYv48QTDesgQniUQ6eJW _5Tqj6Ogd5ahzw69z7pDIL"
                                    [(ngModel)]="lengthSitting">
                                    <option selected="" value="">Length of sitting</option>
                                    <option value="30 Mins">Short visit (30 minutes)</option>
                                    <option value="1 Hour">Standard visit (60 minutes)</option>
                                    <option value="12 Hours">Overnight visit (10-12 hours)</option>
                                    <option value="1 Day">1 Day</option>
                                    <option value="2 Days">2 Days</option>
                                </select>
                                <svg viewBox="0 0 24 24" width="18" height="18" class="_3Hgi6ujm-cIOykU_ijDMeQ"
                                    stroke="#2f3033" stroke-width="3" fill="none" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <polyline points="6 9 12 15 18 9"></polyline>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="_3i0NntZz8uuTeLJ9IvmlbG _1i3Gx3mWCbQC0M-X_lJ2yv b">
                    <div data-test="important-filter" class="relative s_static">
                        <div>
                            <div class="_3K8DxN_JbWl393mteY2klV _2DUNzImYeSyBhBKe1PtbrC">
                                <select class="_3FdbokazFWj1RwROvdtQku _2iWYv48QTDesgQniUQ6eJW _5Tqj6Ogd5ahzw69z7pDIL"
                                    [(ngModel)]="breedType">
                                    <option selected="" value="">Breed Type of Puppy</option>
                                    <option value="Pug">Pug</option>
                                    <option value="Parson Russell Terrier Mix">Parson Russell Terrier Mix</option>
                                    <option value="Shepherd">Shepherd</option>
                                    <option value="Cocker Spaniel">Cocker Spaniel</option>
                                    <option value="Black Labrador Retriever Mix">Black Labrador Retriever Mix</option>
                                    <option value="Labrador Retriever & Terrier Mix">Labrador Retriever & Terrier Mix
                                    </option>
                                    <option value="Terrier Mix">Terrier Mix</option>
                                </select><svg viewBox="0 0 24 24" width="18" height="18" class="_3Hgi6ujm-cIOykU_ijDMeQ"
                                    stroke="#2f3033" stroke-width="3" fill="none" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <polyline points="6 9 12 15 18 9"></polyline>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt3">
                    <button
                        class="vIRQFgYANCphKO9-RQaWv _2eWpUjwqkd3Pc7R5-BrPsX _20rw6psACTyqtM3mL6JeIu _3K38qXR0lG7mgmB1SpgxQe _3v95mnMWYnUbb-L5J83b04"
                        data-test="hero-filters-cta" type="button" (click)="searchPuppySitter()">
                        <span class="Fu-ioshlo_Bv6bF9AaQbF _1sx8ZG07stGhHdou557Djz">Search</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="foundPuppySitter" class="d-flex message-block">
    <div class="success-message">
        We have found a Puppy Sitter for you for {{ lengthSitting }} in your location!
        <br>
        Please check your email!
    </div>
</div>

<div *ngIf="errorMessage" class="d-flex message-block">
    <div class="error-message">
        Please Enter all your details!
    </div>
</div>