/*! CSS Used from: Embedded */
._2INzsKazlBi3MJm_ZwDMhG._2INzsKazlBi3MJm_ZwDMhG {
    font-size: 22px !important;
    line-height: 28px !important;
    font-weight: 700 !important;
}

.message-block {
    background: #000;
    margin: 12px 24px;
    border-radius: 36px;
}

.success-message {
    color: green;
    font-size: 20px;
    margin: 24px auto;
}

.error-message {
    color: red;
    font-size: 20px;
    margin: 24px auto;
}

@media (min-width:701px) {
    ._2INzsKazlBi3MJm_ZwDMhG._2INzsKazlBi3MJm_ZwDMhG {
        font-size: 24px !important;
        line-height: 32px !important;
        font-weight: 700 !important;
    }
}

._2dXladWy3z9cVjUMFQArns._2dXladWy3z9cVjUMFQArns {
    font-size: 16px !important;
    line-height: 24px !important;
}

.vIRQFgYANCphKO9-RQaWv {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    font-family: inherit;
    margin: 0;
    border-width: 2px;
    border-style: solid;
    font-weight: 700;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 22px;
    position: relative;
    overflow: visible;
}

._2eWpUjwqkd3Pc7R5-BrPsX {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

._20rw6psACTyqtM3mL6JeIu {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

._3v95mnMWYnUbb-L5J83b04 {
    width: 100%;
}

._3K38qXR0lG7mgmB1SpgxQe {
    color: #fff;
    background-color: green;
    border-color: green;
}

._3K38qXR0lG7mgmB1SpgxQe:not([disabled]):hover {
    color: #fff;
}

._3K38qXR0lG7mgmB1SpgxQe:focus {
    color: #fff;
    background-color: green;
    border-color: green;
}

.vIRQFgYANCphKO9-RQaWv:focus {
    outline: none;
}

.vIRQFgYANCphKO9-RQaWv:not([disabled]) {
    cursor: pointer;
}

.vIRQFgYANCphKO9-RQaWv:not([disabled]):focus {
    text-decoration: underline;
}

.Fu-ioshlo_Bv6bF9AaQbF {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.Fu-ioshlo_Bv6bF9AaQbF:after {
    content: "";
    display: block;
    min-height: inherit;
    font-size: 0;
}

._1sx8ZG07stGhHdou557Djz {
    min-height: 48px;
    line-height: 24px;
    font-size: 16px;
}

/*! CSS Used from: Embedded */
._1L9gSCFBnVQiUpUVPC2UCV {
    position: relative;
    display: -webkit-inline-flex;
    display: inline-flex;
    width: 100%;
    padding: 1px;
    z-index: 0;
}

._21MPq1_0Bu23Hhzrq0AL61 {
    color: #2f3033;
}

._3T3zk9iidc_Bl9GU9gnC90._3T3zk9iidc_Bl9GU9gnC90._3T3zk9iidc_Bl9GU9gnC90 {
    border: none;
    -webkit-flex: 1 0 0%;
    flex: 1 0 0%;
    min-width: 0;
    color: inherit;
    font-family: Mark, Avenir, Helvetica, Arial, sans-serif;
    vertical-align: middle;
    height: auto;
    background: transparent;
    border-radius: 4px;
    z-index: 2;
    position: relative;
    width: 100%;
}

._3T3zk9iidc_Bl9GU9gnC90._3T3zk9iidc_Bl9GU9gnC90._3T3zk9iidc_Bl9GU9gnC90:focus~._34YJq64lVzS5cBz4SSIaZo {
    border-color: green;
}

._3T3zk9iidc_Bl9GU9gnC90._3T3zk9iidc_Bl9GU9gnC90._3T3zk9iidc_Bl9GU9gnC90:focus {
    border: none;
    box-shadow: none;
    color: #2f3033;
    outline: none;
}

._3T3zk9iidc_Bl9GU9gnC90._3T3zk9iidc_Bl9GU9gnC90._3T3zk9iidc_Bl9GU9gnC90:-ms-input-placeholder, ._3T3zk9iidc_Bl9GU9gnC90._3T3zk9iidc_Bl9GU9gnC90._3T3zk9iidc_Bl9GU9gnC90::-moz-placeholder, ._3T3zk9iidc_Bl9GU9gnC90._3T3zk9iidc_Bl9GU9gnC90._3T3zk9iidc_Bl9GU9gnC90::-webkit-input-placeholder {
    color: #676d73;
}

._3T3zk9iidc_Bl9GU9gnC90._3T3zk9iidc_Bl9GU9gnC90._3T3zk9iidc_Bl9GU9gnC90::-ms-clear {
    display: none;
}

._3T3zk9iidc_Bl9GU9gnC90._3T3zk9iidc_Bl9GU9gnC90._3V6ZeuCYoAR8dxjrc_0NwJ {
    font-size: 16px;
    line-height: 24px;
    padding: 13px 16px;
}

._3T3zk9iidc_Bl9GU9gnC90._3T3zk9iidc_Bl9GU9gnC90._3T3zk9iidc_Bl9GU9gnC90._90w5Fy_E_AAX_eKs4CG0_ {
    padding-left: 12px;
}

._34YJq64lVzS5cBz4SSIaZo {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid;
}

._2IKGMYFvf9bcgJZJbwuVZI {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

._2Gtsk49rfnsUJZKTqXXThy {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

._8_sGSYaH8gGco3dYVSLxs {
    background-color: #fff;
    border-color: #d3d4d5;
}

._3EQVYZEGFYwLR7atQ5KrzZ {
    z-index: 2;
    position: relative;
    cursor: text;
}

._1yaxSWtFDSX1vS7b7bJmrr {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}

.NrRKjEalmmLvKeP6ENJvP {
    padding-left: 16px;
}

.othwZHtu6y1cFRfKJWCTR {
    overflow: hidden;
}

.puppy-sitter-image, .othwZHtu6y1cFRfKJWCTR {
    display: block;
    width: 100%;
}

.puppy-sitter-image {
    opacity: 0;
}

.puppy-sitter-image {
    opacity: 1;
    width: 100%;
}

._1ov4CPClA075hQusJEQQKL {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 946px;
    padding-left: 16px;
    padding-right: 16px;
}

@media (min-width:482px) {
    ._1ov4CPClA075hQusJEQQKL {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (min-width:1011px) {
    ._1ov4CPClA075hQusJEQQKL {
        padding-left: 0;
        padding-right: 0;
    }
}

*, :after, :before {
    box-sizing: inherit;
}

form, h1, h2, p {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-weight: 400;
    font-size: inherit;
}

img {
    font-style: italic;
}

button, option, select {
    cursor: pointer;
}

[type=text]:active, [type=text]:focus {
    cursor: text;
    outline: none;
}

[type=text] {
    -webkit-appearance: none;
}

button, select {
    text-transform: none;
}

button, input, select {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button {
    -webkit-appearance: button;
    cursor: pointer;
}

.white {
    color: #fff !important;
}

.bg-white {
    background-color: #fff !important;
}

.left0 {
    left: 0 !important;
}

.top-0 {
    top: 0 !important;
}

.bottom-0 {
    bottom: 0 !important;
}

.dn {
    display: none !important;
}

.flex {
    display: -webkit-flex !important;
    display: flex !important;
}

.flex-column {
    -webkit-flex-direction: column !important;
    flex-direction: column !important;
}

.items-start {
    -webkit-align-items: flex-start !important;
    align-items: flex-start !important;
}

.justify-center {
    -webkit-justify-content: center !important;
    justify-content: center !important;
}

.justify-between {
    -webkit-justify-content: space-between !important;
    justify-content: space-between !important;
}

.b {
    font-weight: 700 !important;
}

.mb3 {
    margin-bottom: 16px !important;
}

.mt3 {
    margin-top: 16px !important;
}

.pr3 {
    padding-right: 16px !important;
}

.pt3 {
    padding-top: 16px !important;
}

.pv3 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
}

.w-100 {
    width: 100% !important;
}

.z-1 {
    z-index: 1 !important;
}

@media (min-width:482px) {
    .s_static {
        position: static !important;
    }
}

@media (min-width:701px) {
    .m_dn {
        display: none !important;
    }

    .m_flex {
        display: -webkit-flex !important;
        display: flex !important;
    }

    .m_mw7 {
        max-width: 512px !important;
        margin: auto;
    }

    .m_pb4 {
        padding-bottom: 24px !important;
    }

    .m_ph4 {
        padding-left: 24px !important;
        padding-right: 24px !important;
    }

    .m_absolute {
        position: absolute !important;
    }
}

._3K8DxN_JbWl393mteY2klV {
    display: inline-block;
    position: relative;
}

._2DUNzImYeSyBhBKe1PtbrC, ._3FdbokazFWj1RwROvdtQku {
    width: 100%;
}

._3FdbokazFWj1RwROvdtQku {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid;
    font-family: Mark, Avenir, Helvetica, Arial, sans-serif;
    border-radius: 4px;
    outline: none;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: auto 18px;
    padding-left: 14px;
    padding-right: 54px;
}

._3FdbokazFWj1RwROvdtQku:focus {
    border-color: green;
}

._3FdbokazFWj1RwROvdtQku::-ms-expand {
    display: none;
}

._3FdbokazFWj1RwROvdtQku:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #2f3033;
}

._2iWYv48QTDesgQniUQ6eJW {
    background-color: #fff;
    border-color: #d3d4d5;
    color: #2f3033;
}

._5Tqj6Ogd5ahzw69z7pDIL {
    height: 52px;
    font-size: 18px;
}

._3Hgi6ujm-cIOykU_ijDMeQ {
    position: absolute;
    top: 0;
    right: 16px;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    pointer-events: none;
}

._3UhxaQzw6bWQP38Htu8huO {
    border-right: 1px solid #d3d4d5;
    padding: 0 12px 0 8px;
    white-space: nowrap;
}

._3i0NntZz8uuTeLJ9IvmlbG {
    margin-bottom: 16px;
}

._3i0NntZz8uuTeLJ9IvmlbG select {
    color: #2f3033;
}

._1i3Gx3mWCbQC0M-X_lJ2yv select {
    font-weight: 700;
}

@media (min-width:701px) {
    .puppy-sitter-image {
        height: 576px;
    }
}

@media (min-width:701px) {
    .pf-form-block {
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

._3_BrYinl91B6OIIyhlEXJM picture {
    min-height: 180px;
}

.C2ECmm-iKaCkhdTcEMEAa {
    min-height: 180px;
    max-height: 576px;
}

@media (min-width:701px) {
    .C2ECmm-iKaCkhdTcEMEAa {
        min-height: 576px;
        height: calc(100vh - 60px);
    }
}

._2vhrx5NvdG6it8Sav07jsC {
    background: linear-gradient(270deg, transparent, rgba(0, 0, 0, .5));
}

@media (max-width:700px) {
    ._2vhrx5NvdG6it8Sav07jsC {
        background: linear-gradient(0deg, transparent, rgba(0, 0, 0, .5));
    }
}