<div class="d-flex">
    <div class="formField ml-auto">
        <input type="text" class="searchFieldRight" placeholder="Search" title="Search" [(ngModel)]="search">
    </div>
</div>

<div class="puppy-container">
    <ng-container *ngIf="(puppies | filter : search : 'name') as result">
        <div class="puppy-img-block" *ngFor="let item of result">
            <div class="d-flex">
                <img [src]="item?.imgUrl" alt="">
            </div>

            <div class="px-3 py-2">
                <div class="puppy-name">
                    {{ item?.name }}
                </div>
                <div>
                    <span> Gender:</span>
                    <h6> {{ item?.gender }} </h6>
                </div>
                <div>
                    <span> Breed Type:</span>
                    <h6> {{ item?.breedType }} </h6>
                </div>
                <!-- <div>
                    <h6> {{ item?.description }} </h6>
                </div> -->
            </div>
        </div>
        <div class="m-auto" *ngIf="result?.length === 0">
            <div class="">
                <div class="d-flex">
                    <img class="no-record m-auto" src="../../../assets/img/no-results.png" alt="No Result">
                </div>
                <h6 class="text-center my-3"> No Records Found! </h6>
            </div>
        </div>
    </ng-container>
</div>